################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/FazendaSharpCity_API/.vs/FazendaSharpCity_API/FileContentIndex/b26789d9-f4d7-4570-a188-3ca6f5fed807.vsidx
